<tbody>
  <tr>
    <td><%= l buy_request.created_at, format: :long %></td>
    <td><%= user_name_for buy_request.user_id %></td>
    <td><%= book_title_for buy_request.book_id %></td>
    <td><%= t buy_request.request_status %></td>
  </tr>
</tbody>
