<%= form_for :like, url: likes_path, remote: true do |f|  %>
  <div><%= hidden_field_tag :activity_id, activity.id %></div>
  <div><%= hidden_field_tag :user_id, activity.user_id %></div>
  <%= f.submit t("like") %>
<% end %>
