<div class="card-profile_user-stats">
  <div class="stats-holder">
    <div class="user-stats">
      <strong ><%= t "following" %></strong>
      <span id="following"><%= object.following.size %></span>
    </div>
    <div class="user-stats">
      <strong><%= t "followers" %></strong>
      <span id="followers"><%= object.followers.size %></span>
    </div>
  </div>
</div>
