<div class="col-lg-4 user-card">
  <div class="card-profile">
    <div class="card-profile_visual">
      <%= image_tag user.avatar, alt: user.full_name if user.avatar? %>
    </div>

    <div class="card-profile_user-infos">
      <span class="infos_name"><%= link_to user.full_name, user %></span>
      <span class="infos_nick"><%= user.email %></span>
    </div>
    <%= render "stats", object: user %>
  </div>
</div>
