@import 'bootstrap-sprockets';
@import 'bootstrap';

/* universal */

body {
  padding-top: 100px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 48px;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 19.2px;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 17.6px;
  line-height: 27.2px;
}

/* header */

.logo {
  float: left;
  margin-right: 10px;
  font-size: 27.2px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: #fff;
    text-decoration: none;
  }
}

.jumpotron {
  height: 370px;
  background-image: asset-url('home_background.jpg');
  background-position: center;
  background-repeat: repeat-x;
  background-color: #f4f2e9;
}

.head_banner {
  h1 {
    color: #8A4127;
    font-size: 48px;
    letter-spacing: -1px;
    font-weight: bold;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
  a {
    color: #555;
    &:hover {
      color: #222;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}
/* login box */
.login-box {
  max-width: 500px;
  margin: 0 auto;
  position: relative;
  border-radius: 5px;
  margin-top: 12px;
}

.login-box input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: .14.4px;
  color: black;
  line-height: normal;
}

.submit-button {
  margin-top: 0px;
  padding: 10px;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 11.2px;
  letter-spacing: 1px;
  background-color: white;
  cursor:pointer;
  outline: none;
}

.checkbox {
  span {
    color: white;
    margin-left: 10px;
    font-weight: normal;
    margin-right: 45px;
  }
}

.message {
  text-align: center;
}
