@import 'bootstrap-sprockets';
@import 'bootstrap';

/* universal */

body {
  padding-top: 100px;
  background: #d8deec;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 48px;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 19.2px;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 17.6px;
  line-height: 27.2px;
}

/* header */

.logo {
  float: left;
  margin-right: 10px;
  font-size: 27.2px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: #fff;
    text-decoration: none;
  }
}

.jumpotron {
  height: 370px;
  background-image: asset-url('home_background.jpg');
  background-position: center;
  background-repeat: repeat-x;
  background-color: #f4f2e9;
}

.head_banner {
  h1 {
    color: #8A4127;
    font-size: 48px;
    letter-spacing: -1px;
    font-weight: bold;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
  a {
    color: #555;
    &:hover {
      color: #222;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}
/* login box */
.login-box {
  max-width: 500px;
  margin: 0 auto;
  position: relative;
  border-radius: 5px;
  margin-top: 12px;
}

.checkbox {
  span {
    color: white;
    margin-left: 10px;
    font-weight: normal;
    margin-right: 45px;
  }
}

.message {
  text-align: center;
}

/*sign up*/

.signup-box {
  position: relative;
  margin: 5% auto;
  width: 600px;
  height: 420px;
  background: #FFF;
  border-radius: 2px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.left {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  padding: 40px;
  width: 300px;
  height: 400px;
}

.or {
  position: absolute;
  top: 180px;
  left: 280px;
  width: 40px;
  height: 40px;
  background: #DDD;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  line-height: 40px;
  text-align: center;
}

.right {
  position: absolute;
  top: 0;
  right: 0;
  box-sizing: border-box;
  padding: 40px;
  width: 300px;
  height: 420px;
  background: url('https://goo.gl/YbktSj');
  background-size: cover;
  background-position: center;
  border-radius: 0 2px 2px 0;
}

.right .loginwith {
  display: block;
  margin-bottom: 40px;
  font-size: 28px;
  color: #FFF;
  text-align: center;
}

/*button and input*/

button.social-signin {
  margin-bottom: 20px;
  width: 220px;
  height: 36px;
  border: none;
  border-radius: 2px;
  color: #FFF;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  transition: 0.2s ease;
  cursor: pointer;
}

button.social-signin:hover,
button.social-signin:focus {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: 0.2s ease;
}

button.social-signin:active {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  transition: 0.2s ease;
}

button.social-signin.facebook {
  background: #32508E;
}

button.social-signin.twitter {
  background: #55ACEE;
}

button.social-signin.google {
  background: #DD4B39;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: .14.4px;
  color: black;
  line-height: normal;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
  border-bottom: 2px solid #16a085;
  color: #16a085;
  transition: 0.2s ease;
}

input[type="submit"] {
  width: 105px;
  height: 35px;
  background: #16a085;
  border: none;
  border-radius: 5px;
  color: #FFF;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  transition: 0.1s ease;
  cursor: pointer;
}

input[type="submit"]:hover,
input[type="submit"]:focus {
  opacity: 0.8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: 0.1s ease;
}

input[type="submit"]:active {
  opacity: 1;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  transition: 0.1s ease;
}

.form-sign-up {
  margin-bottom: 15px;
}
/*error*/

.error_explanation {
  margin: 5% auto;
  width: 600px;
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

/*list user*/
.card-profile {
  float: left;

  top: 50%;
  left: 50%;

  width: 100%;
  height: 400px;

  background: #fff;
  border-radius: 10px;
  z-index: 1;
  box-shadow: 0 0 5px rgba(black, 0.1);

  &:after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100px;
    bottom: 0;
    box-shadow: 0 36px 64px -34px rgba(black, 1),
      0 16px 14px -14px rgba(black, 0.6),
      0 22px 18px -18px rgba(black, 0.4),
      0 22px 38px -18px rgba(black, 1);
    transform: scaleX(0.7) scaleY(1.3) translateY(-15%);
    z-index: -1;
    opacity: 0.25;
  }

  &_visual {
    height: 68%;
    overflow: hidden;
    position: relative;
    background: linear-gradient(to bottom, darken(#545559, 10%), saturate(darken(#3A4A7B, 2%), 20%),saturate(darken(#3A4A7B, 15%), 20%));
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    &:before,
    &:after {
      display: block;
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 0;
      opacity: 0.5;
      mix-blend-mode: lighten;
    }

    &:before {
      filter: grayscale(100%);
    }

    &:after {
      z-index: 2;
      opacity: 1;
    }
  }

  &_user-infos {
    position: absolute;
    z-index: 3;
    left: 0;
    right: 0;
    margin: auto;
    top: calc(#{68%} - 100px);
    color: #fff;
    text-align: center;

    .infos_name,
    .infos_nick {
      display: block;
      clear: both;
      padding: 8px 0;
      padding-top: 0;
      position: absolute;
      width: 100%;
      text-align: center;
      font-size: 18px;
      top: 8px;
      font-weight: 800;
    }
    .infos_nick {
      top: 32px;
      font-size: 14px;
      font-weight: 300;
    }
  }
  &_user-stats {
    background: #fff;
    float: left;
    width: 100%;
    height: calc(100% - #{68%} + 2px);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    .stats-holder {
      position: absolute;
      width: 100%;
      top: calc( 70% + 64px );
      display: flex;
    }

    .user-stats {
      flex: 1;
      text-align: center;

      strong {
        display: block;
        float: left;
        clear: both;
        width: 100%;
        color: #B3B1B2;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: -0.2px;
      }

      span {
        font-size: 26px;
        color: #5E5E5E;
        padding: 2.88px 0;
        display: inline-block;
      }
    }
  }
}

.user-card {
  margin-bottom: 20px;
}

.col-lg-4 {
  width: 25%;
}

.col-md-5 {
  width: 33.33333333%;
}

.user-show {
  padding-bottom: 100px;
}

.user-detail-column {
  padding: 30px;
  text-align: center;
  border: 1px solid #ececec;
}

.arthor-detail-column .arthor-img{
  position: relative;
  display: inline-block;
}

.arthor-detail-column .arthor-img .edit-tag{
  position: absolute;
  left: 0;
  bottom: 0;
  height: 26px;
  line-height: 26px;
  text-align: center;
  background: #1e293d;
  font-size: 12px;
  padding: 0 10px 0 10px;
  color: #fff;
}

.activities {
  list-style: none;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
}
